

@font-face{
	font-family:Tzmice;
	src:url("../Fonts/Goudy Text MT Lombardic Capital Regular.otf");
}
body{
	background-color: brown;
}
div{
	border: 3pt solid black;
	margin:0px;
	background-color: green;
}
H2{
	font-family: Tzmice;
}
a{
	text-decoration: none;
	color:black;
}
p {
	color:red;
}
.login{
	border-style:solid;
	float:right;
	padding:0px;
	margin:0px;
	height:inherit;
	font-size: 16pt;
}


#titleBar{
	padding-bottom: 5px;
	font-size: 30pt;
	display:block;
	overflow:hidden;
}
#titleBar H1{
	float:left;
	margin:0px;
	font-family: Tzmice;
	display:inline-block;
}


#menuBar{
	height:50px;
	padding:0px;
}
#menuBar li{
	height: 50px;
	margin:0px;
	min-width:100px;
	font-size:24px;
	display:inline-block;
	border: 1pt solid black;
	padding-top: 0px;
	padding-bottom: 0px;
}
#menuBar a{

}
#menuBar ul{
	list-style:none;
	margin:0px;
	padding:0px;
	float:left;
}



#sideBar{
	float:left;
	width:15%;
	height:1000px;
	padding:0px;
	margin:0px;
	min-width:150px;
	border-top-style:none;
}
#sideBar ul{
	list-style:circle inside url("../pictures/sabbat2.png");
	padding:0px;
	margin:0px;
}
#sideBar li{
	max-width:100%;
	border: 1pt solid black;
	height: 60px;
	font-size:30px;
	position:relative;
}
#sideBar a{
	margin-bottom:10px;
	position:relative;
}


#mainText{
	float:right;
	width:82%;
	min-width:50%;
	border: 3pt none black;
	background: none;
}
#mainText div{
	margin-top:20px;
	width:100%;
	display:block;
}
#subtitleTest{
	color: red;
}
