

@font-face{
	font-family:Tzmice;
	src:url("../Fonts/Goudy Text MT Lombardic Capital Regular.otf");
}
body{
	background-color: #552200;
	padding-right:100px;
	padding-left:100px;
}
div{
	border: 3pt solid black;
	margin:0px;
	background-color: #006600;
	padding: 20px;
}
H2{
	font-family: Tzmice;
}
a{
	text-decoration: none;
	color:black;
}
.login{
	border-style:solid;
	float:right;
	padding:0px;
	margin:0px;
	height:inherit;
	font-size: 16pt;
}


#titleBar{
	padding-bottom: 5px;
	font-size: 30pt;
	display:block;
	overflow:hidden;
}
#titleBar H1{
	float:left;
	margin:0px;
	font-family: Tzmice;
	display:inline-block;
}


#menuBar{
	height:50px;
	padding:0px;
}
#menuBar li{
	height: 50px;
	margin:0px;
	min-width:100px;
	font-size:24px;
	display:inline-block;
	border: 1pt solid black;
	padding-top: 0px;
	padding-bottom: 0px;
}
#menuBar a{

}
#menuBar ul{
	list-style:none;
	margin:0px;
	padding:0px;
	float:left;
}

#MainContent{
	display:inline-block;
	padding:0px;
	background:none;
}

#sideBar{
	display:inline-block;
	width:15%;
	height:inherit;
	padding:0px 0px 0px 0px;
	margin:0px;
	min-width:150px;
	border-top-style:none;
	border: 3pt solid red;
}
#sideBar ul{
	list-style:circle inside url("../pictures/sabbat2.png");
	padding:0px;
	margin:0px;
}
#sideBar li{
	max-width:100%;
	border: 1pt solid black;
	height: 60px;
	font-size:30px;
	position:relative;
}
#sideBar a{
	margin-bottom:10px;
	position:relative;
}


#mainText{
	display:inline-block;
	width:75%;
	min-width:100px;
	border: 3pt solid red;
	background: none;
	padding-right:0px;
	padding-left:0px;
}
#mainText div{
	margin-top:20px;
	width:calc(100% - padding - 3px);
	float: top;
	display:block;
}
@media screen and (max-width: 1000px) {
  #sideBar {
    visibility:collapse;
  }
  #mainText {
    width:100%;
  }
}
