@font-face{
	font-family:Tzmice;
	src:url("../Fonts/Goudy Text MT Lombardic Capital Regular.otf");
}
body{
	background-image: url("../pictures/blood_background_02.jpg");
}
div{
	background-color:#420018;
	border: 3pt solid black;
	margin:0px;
}
H1{
	color:#FFCCCC;
}
H2{
	font-family: Tzmice;
	color:#FFCCCC;
}
H3{
	color:#FFCCCC;
}
a{
	text-decoration: none;
	color:#FFCCCC;
}
p{
	color:#FFCCCC;
}

#menuBar{
	max-height:100px;
	min-height:50px;
	padding:0px;
}
#menuBar li{
	max-height:100px;
	min-height:50px;
	margin:0px;
	max-width: 10%;
	min-width:100px;
	font-size:24px;
	display:inline-block;
	border: 1pt solid black;
	padding-top: 0px;
	padding-bottom: 0px;
}
#menuBar a{

}
#menuBar ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
#menuBar ul li {
	text-align:center;
}


#titleBar{
	width: 100%;
	max-height: 100px;
	min-height: 50px;
	padding-bottom: 5px;
	font-family: Tzmice;
	font-size: 30pt;
	margin:0px;
	overflow:hidden;
}
#titleBar H1{
	padding:0px;
	margin:0px;
	float:left;
}


#sideBar{
	float:left;
	width:15%;
	height:1000px;
	padding:0px;
	margin:0px;
	min-width:150px;
	border-top-style:none;
}
#sideBar ul{
	list-style:circle inside url("../pictures/sabbat2.png");
	padding:0px;
	margin:0px;
}
#sideBar li{
	max-width:100%;
	border: 1pt solid black;
	height: 60px;
	font-size:30px;
	position:relative;
}
#sideBar a{
	margin-bottom:10px;
	position:relative;
}


#mainText{
	float:right;
	max-width:82%;
	min-width:50%;
	border: 3pt none black;
	background: none;
}
#mainText div{
	margin-top:20px;
}
#subtitleTest{
	color: red;
}
